html, body {
    height: 100%; /* Make sure the html and body tags take up the full viewport height */
    margin: 0; 
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa; 
    padding: 0px;
  }
  
  .container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px; 
  }
  h1, h2 {
    color: #007bff;
  }
  .form-section {
    margin-top: 30px;
}
  
  #user-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  p {
    color: #495057;
  }
  .navbar-nav {
  transform: translateX(36%); 
  font-size: 1.3em;
  }
  

.footer-container {
    margin-top: 40px;
    background-color: #343a40; /* Dark footer background */
    color: #ffffff; /* White text color */
    padding: 20px 0; /* Padding around the footer content */
    font-size: 0.9rem; /* Smaller font size for the footer */
}

    .footer-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Distribute space evenly around the footer columns */
        text-align: left;
    }

    .footer-column h3 {
        margin-top: 0;
        color: #007bff; /* Bootstrap primary color for headings */
    }

    .footer-column ul,
    .footer-column p,
    .footer-column a {
        list-style: none;
        padding: 0;
        color: #ffffff; /* Ensure all text is white for visibility */
        text-decoration: none; /* Remove underline from links */
    }

    .footer-column ul li a {
        color: #ffffff; /* White text for links */
        opacity: 0.75; /* Slightly transparent links */
        transition: opacity 0.3s; /* Smooth transition for hover effect */
    }

    .footer-column ul li a:hover {
        opacity: 1; /* Fully opaque on hover */
    }