<script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-auth-compat.js"></script>

<body>
    <div class="form">
        <!--Email-->
        <div class="email">
            <label for="email">Email</label>
            <input 
            type="email"
            name="email"
            id="email"
            placeholder="Write your email"
            />
        </div>

        <!--Password-->
        <div class="pass">
            <label for="password">Password</label>
            <input 
            type="password"
            name="password"
            id="password"
            placeholder="Write your password"
            />
        </div>

        <!--Sign In Button-->
        <button
        id="submit-btn"
        onclick="signIn()"
        >Sign In</button>
        <br></br>

        <p>Don't have an account yet?</p>
        
        <span><a href="/signUp">Sign Up</a></span>
    </div>
    
</body>
<style>
    

    .form {
        background-color: white;
        width: 300px;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid 1px #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    span {
        font-size: 0.8em;
    }
</style>
